@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images\ 1.png') no-repeat;
    background-size: cover;
    background-color: rgb(203, 236, 215);
    /* background-position: center; */

}
h2 {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    font-size: 40px;
    color: #fff;
    z-index: 1;
    text-shadow: 0 0 10px rgb(56, 57, 56);
}

.wrapper{
    width: 420px;
    background: rgb(111, 206, 111);
    color: #555454;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px;
    position: relative;
    z-index: 2;
    bottom: -20px;
    

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.wrapper .remember-forgat{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 25px 0 25px;
    color: #fff;

}

.remember-forgat label input{
    accent-color: #fff;
    margin-right: 3px ;

}

.remember-forgat a{
    color: #fff;
    text-decoration:  none;
}

.remember-forgat a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;

}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-size: 600;
}
.remember-link p a:hover{
    text-decoration: underline;
}